/* css file for scarlet.app.home.html */
body{
  background-color: #3B1A4B;
}

#shheader{
  margin-left: -10px;
  top: 0;
  position: fixed;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 9%;
  background: linear-gradient(to top, rgba(91, 22, 124, 1) 35%, DeepSkyBlue 125%);
}

.floatheaderleft{
  float: left;
}
.floatheaderright{
  float: right;
}

#homebutton{
  margin-top: -55px;
  height: 76%;
  width: 7%;
  text-align: center;
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  margin-left: 2%;
}
#homebutton:hover{
  background-color: rgba(91, 22, 124, 0.8);
  color: white;
  cursor: pointer;
}

#feedbackpg{
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  width: 12%;
  height: 60%;
  background: linear-gradient(to top, rgba(91, 22, 124, 1) 35%, DeepSkyBlue 125%);
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  padding-top: 5px;
  margin-right: 15%;
  margin-top: -45px;
}
#feedbackpg:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#downloadapp{
  text-align: center;
  font-size: 110%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  width: 12%;
  height: 60%;
  background: linear-gradient(to top, rgba(91, 22, 124, 1) 35%, DeepSkyBlue 125%);
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  padding-top: 5px;
  margin-right: 2%;
  margin-top: -45px;
}
#downloadapp:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}


#scarlogo2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  margin-top: 5px;
}

#scarlogo{
  margin-top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

#wel{
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 400%;
  font-family: 'Raleway', sans-serif;
}
#wel:hover{
  cursor: default;
}

#wel2{
  margin-top: -20px;
  text-align: center;
  color: rgba(132, 91, 183, 1);
  font-size: 200%;
  font-family: 'Raleway', sans-serif;
}
#wel2:hover{
  cursor: default;
}

#ss1{
  margin-top: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 450px;
  background-color: #C2ACCD;
  background-image: url("APS.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#downloadss{
  text-align: center;
  font-size: 110%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  width: 12%;
  height: 35px;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
#downloadss:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: rgba(26, 12, 33, 1);
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#sm{
  text-align: center;
  font-size: 156%;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}
#sm:hover{
  cursor: default;
}

#scarguild{
  color: rgba(132, 91, 183, 1);
  text-align: center;
  font-size: 94%;
  font-family: 'Raleway', sans-serif;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footerbody{
  margin-top: 50px;
  bottom: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 200px;
  border-radius: 15px;
  background-color: rgba(26, 12, 33, 1);
}

#email{
  text-align: center;
  font-size: 125%;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}

#emailid{
  color: white;
}
#emailid:hover{
  cursor: pointer;
}

#twitter1{
  text-align: center;
  font-size: 125%;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}

#twtid{
  color: white;
}
#twtid:hover{
  cursor: pointer;
}

#wrn{
  text-align: center;
  font-size: 125%;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}
#scarllc{
  text-align: center;
  font-size: 94%;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}

#webv{
  text-align: center;
  font-size: 62.5%;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}
