/* css file for scarlet.app.home.html */
body{
  background-color: #3B1A4B;
}

#shheader{
  overflow: hidden;
  margin-left: -10px;
  top: 0;
  position: fixed;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 10vh;
  background: linear-gradient(to top, rgba(91, 22, 124, 1) 35%, DeepSkyBlue 125%);
}

.floatheaderleft{
  float: left;
}
.floatheaderright{
  float: right;
}

#homebutton{
  width: 100vw;
  max-width: 100px;
  font-size: 2.5vh;
  margin-top: -9vh;
  height: 100vw;
  text-align: center;
  padding-top: 3vh;
  font-family: 'Raleway', sans-serif;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  margin-left: 2vw;
}
#homebutton:hover{
  background-color: rgba(91, 22, 124, 0.8);
  color: white;
  cursor: pointer;
}

#feedbackpg{
  text-align: center;
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  width: 12vw;
  height: 3vw;
  background-color: rgba(132, 91, 183, 0.25);
  color: rgba(26, 12, 33, 1);
  border-radius: 3px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  padding-top: 0.5vh;
  margin-right: 15vw;
  margin-top: -7vh;
}
#feedbackpg:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#downloadapp{
  text-align: center;
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  width: 12vw;
  height: 3vw;
  background-color: rgba(132, 91, 183, 0.25);
  color: rgba(26, 12, 33, 1);
  border-radius: 3px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  padding-top: 0.5vh;
  margin-right: 2vw;
  margin-top: -7vh;
}
#downloadapp:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}


#scarlogo2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8vh;
  margin-top: 1vh;
}

#wel{
  margin-top: 8vh;
  text-align: center;
  color: white;
  font-size: 6vw;
  font-family: 'Raleway', sans-serif;
}
#wel:hover{
  cursor: default;
}

#wel2{
  margin-top: -30px;
  text-align: center;
  color: rgba(132, 91, 183, 1);
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}
#wel2:hover{
  cursor: default;
}

#ss1{
  margin-top: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 45vw;
  background-color: #C2ACCD;
  background-image: url("https://static.overlay-tech.com/assets/faf773f9-148e-4a80-937d-8ff0ddc293fb.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#downloadss{
  text-align: center;
  font-size: 3vw;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  width: 16vw;
  height: 8vw;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
#downloadss:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: rgba(26, 12, 33, 1);
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#sm{
  text-align: center;
  font-size: 3vw;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}
#sm:hover{
  cursor: default;
}

#scarguild{
  color: rgba(132, 91, 183, 1);
  text-align: center;
  font-size: 1.5;
  font-family: 'Raleway', sans-serif;
}

iframe{
  margin-top: 10px;
  width: 60vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footerbody{
  margin-top: 50px;
  bottom: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 30vh;
  border-radius: 15px;
  background-color: rgba(26, 12, 33, 1);
}

#email{
  text-align: center;
  font-size: 2.5vh;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}

#emailid{
  color: white;
}
#emailid:hover{
  cursor: pointer;
}

#twitter1{
  text-align: center;
  font-size: 2.5vh;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}

#twtid{
  color: white;
}
#twtid:hover{
  cursor: pointer;
}

#wrn{
  text-align: center;
  font-size: 2vw;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}
#scarllc{
  text-align: center;
  font-size: 2vh;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}

#webv{
  text-align: center;
  font-size: 1.8vh;
  color: rgba(132, 91, 183, 1);
  font-family: 'Raleway', sans-serif;
}
