body{
  background-color: #3B1A4B;
  font-family: 'Raleway', sans-serif;
}

.clversion{
  font-size: 4.5vw;
  text-align: center;
  margin-top: 5vh;
  color: white;
}
.cltitle{
  font-size: 3.5vw;
  text-align: center;
  margin-top: 1.5vh;
  color: white;
}
.climage{
  width: 75vw;
  height: 42.1875vw;
  margin-top: 1vh;
  background-size: cover;
  border-radius: 1.5vh;
  margin-left: auto;
  margin-right: auto;
}
.clbody{
  font-size: 2.5vh;
  text-align: center;
  margin-top: 1.5vh;
  color: white;
}

#img0-1-4{
  background-image: url(ssScarlet.png);
}
