#Iwel2{
  margin-top: -20px;
  text-align: center;
  color: rgba(132, 91, 183, 1);
  font-size: 125%;
  font-family: 'Raleway', sans-serif;
}
#Iwel2:hover{
  cursor: default;
}

#input1{
  height: 35px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.IOfloat{
  float: left;
}

#IOapp{
  width: 47%;
  height: 35px;
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
}
#IOapp:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#IOweb{
  width: 47%;
  height: 35px;
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  margin-left: 15px;
}
#IOweb:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#input2{
  height: 35px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.Ifloat{
  float: left;
}

#ITsug{
  width: 47%;
  height: 35px;
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
}
#ITsug:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#ITbug{
  width: 47%;
  height: 35px;
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  margin-left: 15px;
}
#ITbug:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}

#inputDescarea{
  width: 40vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
}
#inputDesc{
  font-size: 3vh;
  width: 40vw;
  height: 30vw;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  background-color: rgba(132, 91, 183, 1);
  resize: none;
}

#fbsubmit{
  width: 15vw;
  height: 5vw;
  text-align: center;
  font-size: 4vw;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  background-color: DeepSkyBlue;
  color: rgba(26, 12, 33, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px rgba(26, 12, 33, 1);
  transition-duration: 0.1s;
  margin-left: auto;
  margin-right: auto;
}
#fbsubmit:hover{
  cursor: pointer;
  background-color: rgba(132, 91, 183, 1);
  color: white;
  box-shadow: 0px 0px 0px 8px rgba(26, 12, 33, 0.5);
}
